{% extends 'home.html' %}

{% block content %}
<div class="container">
    <h1>Bank Accounts</h1>
    <a href="{% url 'bank-account-create' %}" class="btn btn-primary mb-3">Add New Account</a>
    <ul class="list-group">
        {% for account in bank_accounts %}
        <li class="list-group-item">
            <a href="{% url 'bank-account-detail' account.id %}">{{ account.name }} - ${{ account.balance }}</a>
        </li>
        {% empty %}
        <li class="list-group-item">No bank accounts found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}